<div class="page-domain" ng-controller="nameserversCtrl">

  <h1 class="ls-title-intro ls-ico-globe">{{title}}</h1>
  <p>Os servidores de DNS são responsáveis por responder as requisições de acesso ao seu domínio.</p>

  <div class="ls-box">
    <table class="ls-table ls-table-striped">
      <tbody>
        <tr>
          <td><strong>Primário (Master): </strong>ns1.systemintegration.locaweb.com</td>
        </tr>
        <tr>
          <td><strong>Secundário (Slave 1): </strong>ns2.systemintegration.locaweb.com</td>
        </tr>
        <tr>
          <td><strong>Terciário (Slave 2): </strong><em>Opcional</em></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="ls-btn-primary ls-btn-sm">Alterar servidores</a>
  </div>
  <div class="ls-box">
    <h2 class="ls-title-3">Zona de DNS</h2>
    <p>Zona de DNS é a área onde você cria e edita entradas de DNS para configurar servidores de e-mail, endereços de apontamento, etc.</p>
    <a href="#" class="ls-btn-primary ls-btn-sm">Consulte e altere zona de DNS</a>
  </div>

</div>
